.desktop-content {
  /*width: 100%;*/
  /*height: 100%;*/
  /*height: 300px;*/
  display: block;
  position: relative;
}

.desktop_icons {
  float: right !important;
  display: block;
  width: 75;
  text-align: center;
  /*background-color: yellow;*/
  margin: 20px;
  cursor: default;
}

.desktop_icons div {
  display: block;
}

.desktop_icons p {
  background-color: rgba(255,255,255,.4);
  padding: 1 3 2 3px;
  text-decoration: none !important;
  color: #444444;
  display: inline;
}
/*a.desktop_icons:hover{
  background-color: rgba(255,255,255,.45);
}*/

a.desktop_icons:focus {
  background-color: rgba(30,30,30,.3);
}
.desktop_icons:focus > p {
  background-color: rgba(255,255,255,.0) !important;
  color: white;
}

.desktop_icons:link { text-decoration: none; }
.desktop_icons:visited { text-decoration: none; }
.desktop_icons:hover { text-decoration: none; }
.desktop_icons:active { text-decoration: none; }


.window {
  position: fixed;
  /*margin-left: 20%;*/
  display: none;
  width: 500px;
  height: 350px;
  background-color: #cccccc;
  padding: 0px;
  border: 1px solid #0a0a0a;
  box-shadow: 1px 1px #444444;
  /*overflow: hidden;*/
  overflow-x: hidden;
  /*overflow-y: scroll;*/
  z-index: inherit;
}

#window-contact:active, #window-contact:focus {
  z-index: 9990;
}
#window-browser:active, #window-contact:focus {
  z-index: 9991;
}

#window-readme {
  display:block;
  top:75px;
}
.noh { /*no highlight text*/
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.window_content {
  width: 490px;
  height: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:#ffffff;
  margin-left: 4px;
  border-left: 1px solid #0a0a0a;
  margin-right: 4px;
  border-right: 1px solid #0a0a0a;
}

.window_contentbody::-webkit-scrollbar {
    width: 20px;
}
 
.window_contentbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.window_contentbody::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.window_header{
  /*cursor: none;*/
  /*background-color: #cccccc;*/
  height: 20px;
  background: url(src/img/windowbordercenter.png);
  /*background: url(src/img/windowborderleft.png), url(src/img/windowborderright.png), 
    url(src/img/windowbordercenter.png), #fff;*/
    /*background-position: 0 bottom, 99.95% bottom; 50% bottom;*/
    /*background-position: 0 bottom, 100% bottom; 50% bottom;*/
    background-repeat: no-repeat;
    text-align: center;
}

.window_header button {
  float: left;
}
.window_header p {
  text-align: center;
  display: inline-block;
  padding: 0 10px 0 10px;
  margin-top: 2px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
    background-color: #cccccc;
    font-family: 'Chicago Plain';
    font-weight: normal;
    color: black;
}

.modalX {
  width: 12px;
  height: 12px;
  background: url(src/img/winclose_btn.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 00;
  float:left;
  margin: 4 0 2 2px;
}

.modalX:active {
  width: 12px;
  height: 12px;
  background: url(src/img/winclose_btn_down.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 00;
  float:left;
  margin: 4 0 2 2px;
}

/*.modalX:active {
  position: absolute;
  top: 2;
  left: 0;
  width: 12px;
  height: 12px;
  background: url(src/img/winclose_btn_down.png);
}
*/