.window {width: 75%; top: 15%; left: 10%}

@media (min-width: 576px) {  
  .window {width: 40%;top: 20%}
}
/*@media (min-width: 768px) {  
  .window {width: 30%;}
}*/

.windowShow {
    display: flex;
}
.windowHide {
    display: none;
}
.window {
    position: fixed; 
    margin: 0;
    background-color: #cccccc;
    display: none;
    /*width: 100%;*/
    /*min-width: 300px !important;*/
    /*max-width: 80%;*/
    /*height: 350px;*/
    border: 1px solid #222222;
    /*position: relative;*/
    /*overflow: hidden;*/
    box-shadow: 1px 2px #222222;
    /*min-width: 500px;*/
    height: min-content;
    /*z-index: 1000;*/
    /*position: absolute;*/
    /*top: 10%;*/
    /*left: 15%;*/
}

.window-maximized {
    width: 60%; 
    height: 40%;
    top: 15%; 
    left: 10%;
    position: fixed; 
    margin: 0;
    background-color: #cccccc;
    display: none;
    border: 1px solid #222222;
    box-shadow: 1px 2px #222222;
    height: min-content;
    /*z-index: 1000;*/
}
.window-header {
    height: 20px !important;
    position: relative;
    border-top: 1px solid #fdfdfd;
    border-left: 1px solid #fdfdfd;
    border-right: 1px solid #999999;
    padding: 2px;
    padding-bottom: 2px;
    background-clip: padding-box;
    vertical-align: middle;
    text-align: center;
    align-items: stretch
}
.vr {
    background-color: #cccccc;
    width: 0px;
    margin: 0px 1px;
}

.square_button                  {background: url("../img/atom_main.png") center center no-repeat;}
.square_button:active           {background: url("../img/atom_main_active.png") center center no-repeat;}
.square_button_maximize         {background: url("../img/atom_maximize.png") center center no-repeat;}
.square_button_maximize:active  {background: url("../img/atom_maximize_active.png") center center no-repeat;}
.square_button_minimize         {background: url("../img/atom_minimize.png") center center no-repeat;}
.square_button_minimize:active  {background: url("../img/atom_minimize_active.png") center center no-repeat;}

.square_button,
.square_button:active,
.square_button_maximize,
.square_button_maximize:active,
.square_button_minimize,
.square_button_minimize:active {
    z-index:10000;
    background-size: contain;
    /*height: 100% !important;*/
    width: 15px;
    aspect-ratio: 1 / 1 !important;
    display: inline-flex;
}

.window-header-center {
    background: url("../img/title_window_bars_left.png") left center no-repeat,
                url("../img/title_window_bars_right.png") right center no-repeat,
                url("../img/title_window_bars_center.png") center center repeat-x;
    background-size: contain;
}

.window-header-title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: top;
}
.window-header-title p {
    background: url("../img/title_window_bars_right.png") left top no-repeat,
                url("../img/title_window_bars_left.png") right top no-repeat,
                #cccccc;
    background-size: contain;
    background-origin: padding-box;
    position: relative;
    /*display: inline-flex;*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 3px 5px;
    font-size: 80%;
    line-height: 70% !important;
    text-align: center;
    font-family: "Chicago Plain";
}

.window-content {
    /*font-family: Arial, Helvetica, sans-serif;*/
    padding: 0px 2px 2px 2px;
    border-left: 1px solid #fdfdfd;
    border-right: 1px solid #999999;
}
.window-content-body {
    background-color: #ffffff;
    display: flex;
  /*flex-flow: column;*/
  /*height: 100%;*/
  /*width: 100%px;*/
  /*height: 40%;*/
  /*width: min-content;*/
  /*height: calc(100% - 22px);*/
  overflow: hidden;
  border: 1px solid #000000;
  padding: 10px 15px;
  /*aspect-ratio: 4/3;*/
}

.window-content-body h1 {
    line-height: 150%;
}
.window-content-body p {
    line-height: 150%;
    font-size: 1.5rem;
}

#browser-window {
    padding: 0px !important;
    overflow-y: scroll;
    height: 600px;
}

/* width */
#browser-window::-webkit-scrollbar {
  width: 15px;
  border-left: 1px solid #262626;
}

/* Track */
#browser-window::-webkit-scrollbar-track {
  background: #aaaaaa;
  border-left: 1px solid #262626;
}

/* Handle */
#browser-window::-webkit-scrollbar-thumb {
    background: #9999ff;
    box-shadow: inset 3px 2px 1px rgba(184,184,255,.5);
    border-right: 3px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.01);
    border-left: 1px solid #262626;
    box-sizing: border-box;
}

/* Handle on hover */
#browser-window::-webkit-scrollbar-thumb:hover {
  background: #6666cc;
  border-left: 1px solid #262626;
  box-shadow: inset 1px 1px rgba(184,184,255,.3);
  border-right: 1px solid rgba(0,0,0,.2);
  border-bottom: 2px solid rgba(0,0,0,.2);
}